.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

.tic-tac-toe,
.reset,
.total {
  display: none;
}

.tic-tac-toe {
  width: 250px;
  height: 250px;
  border: 2px solid black;
  border-radius: 10px;
  margin: 50px auto;
}

.ttt-grid {
  width: 83.2px;
  height: 83.2px;
  border: 1px solid black;
  float: left;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
}

.ttt-grid:nth-child(1) {
  border-top-left-radius: 10px;
}

.ttt-grid:nth-child(3) {
  border-top-right-radius: 10px;
}

.ttt-grid:nth-child(7) {
  border-bottom-left-radius: 10px;
}

.ttt-grid:nth-child(9) {
  border-bottom-right-radius: 10px;
}

.reset {
  padding: 10px 20px;
  border: 1px solid black;
  box-shadow: 0 0 10px 1px gray;
  border-radius: 10px;
  transition: all 0.2s linear;
  background-color: rgb(145, 171, 219);
}

.reset:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.choise {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.choise p {
  font-size: 34px;
}

.choise button {
  margin: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-size: 40px;
  transition: all 0.2s linear;
}

.choise button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.total {
  font-size: 34px;
}